<div class="nav_bar">
</div>
<div class="logos-container">
    <img src="../../../assets/Images/ebanking 1.png" alt="Left Logo" class="left-logo">
    <img src="../../../assets/Images/Vector.png" alt="Right Logo" class="right-logo">
</div>

<div class="headers">
    <h2><a href="#" class="orange-link">Great, Let's keep going |</a> Before we register you for online banking, we would like to verify your account.</h2>
  </div>
  

<div class=" Main-container">
<div class="left-box">
    <div class="pagination-box">
        01/04
      </div>
      
    <ul class ="page">
        <li>01. ACCOUNT CHECK</li>
        <lI>02. ACOOUNT DETAILS</lI>
        <li>03. LIMIT SETTING</li>
        <li>04. CONFIRMATION</li>
    </ul>
</div>

<div class="right-box">
        <label for="accountNumber" class="form-label">Enter your Account Number</label>
        <input type="text" class="form-control" id="accountNumber" placeholder="">

        <label for="phoneNumber" class="form-label">Enter your Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" placeholder="">

    <div class="identification">
        <div class="identification1">
        <label for="identificationNumberType" class="form-label">Select ID type</label>
        <input type="text" class="form-control" id="identificationNumberType" placeholder="">
        </div>

        <div class="identification2">
        <label for="identificationNumber" class="form-label">Enter your ID Number</label>
        <input type="text" class="form-control" id="identificationNumber" placeholder="">
        </div>
    </div>
    <div class="button-container">
        <button class="btn btn-primary left-btn">CANCEL</button>
        <button class="btn btn-primary right-btn">CONTINUE</button>
    </div>
    </div>
</div>


<div class="bottom">
            <p>Copyright© Faulu Microfinance Bank Limited 2024</p>
            <p>Need help? Talk to us via info&#64;faulukenya.com | Call +254 711 07400 Twitter Facebook Instagram WhatsApp</p>
            <p><a href="#">Security | Privacy policy | Terms & Conditions</a>.</p>
</div>