<div class="main-section2">
<div class="nav_bar">

</div> 
<div class="logos-container">
    <img src="../../../assets/Images/ebanking 1.png" alt="Left Logo" class="left-logo">
    <img src="../../../assets/Images/Vector.png" alt="Right Logo" class="right-logo">
</div>
<div class="banner">
    <p><a href="url">Activate Account | </a>Register for online Banking</p>
</div>

<div class="card">

    <div class="section-1">
    <div class="subtitle">
     <h2>All you need is the following:</h2>
    </div>
    <div class="content">
        <div class="sms">
        <img src="../../../assets/Images/3.png" alt="Left Logo1">
     <p>A mobile number that is already registered with<br>the bank. 
        You will need this to receive <br> temporary password.</p>
        </div>
        <div class="separator">
            <p>AND</p>
        </div>
        
        <div class="security">
            <img src="../../../assets/Images/2.png" alt="Right Logo">
            <p>ID/Passport Number, email address and an active<br>Faulu 
                Bank Account.</p>
        </div>
    </div>
    </div>
    <hr>

    <div class="section-2">
        <h2>Missing some information?</h2>
        <p>if you do not have all of the required information, 
            please visit any of our branches.</p>
    </div>
    <hr>
    <div class="section-3">
        <h2>Terms & Conditions</h2>
        <p><input type="checkbox"> I have read and understood the 
            Terms & Conditions and agree to abide by them.</p>
    </div>
</div>

<div class="button-container">
    <button class="btn btn-primary"> CANCEL</button>
    <button class="btn btn-primary"> ACCEPT</button>
</div>

<div class="bottom">
    <footer>
        <div class="row">
            <p>Copyright© Faulu Microfinance Bank Limited 2024</p>
        </div>
        <div class="row">
            <p>Need help? Talk to us via info&#64;faulukenya.com | Call +254 711 07400 Twitter Facebook Instagram WhatsApp</p>
        </div>
        <div class="row">
            <p><a href="#">Security | Privacy policy | Terms & Conditions</a>.</p>
        </div>
    </footer>
</div>
</div>


