<div class="hero-section">
    <div class="login-form">
        <div class="login-header">
            <p>welcome to</p> <br>
        </div>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Enter your username" formControlName="username" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter your password" formControlName="passwords" />
            </div>
            <button type="submit" class="btn btn-primary">Login
            </button>
        </form>
    </div>
    <div class="section-login">
        <div class="register-btn">
            <p>rify that Bootstrap styles are being applied correctly to your components and that there are no errors in
                the browser console.</p>
            <button>register now</button>
        </div>
        <div class="open-btn">
            <p>rify that Bootstrap styles are being applied correctly to your components and that there are no errors in
                the browser console.</p>
            <button>open account</button>
        </div>
    </div>
    <div class="section2-login">
        <div class="register-paragraph">
            <p>rify that Bootstrap styles are being applied correctly to your components and that there are no errors in
                the browser console.</p>
            <div class="register-btn">
                <button>register now</button>
            </div>
        </div>

    </div>
</div>

