.hero-section {
    background-image: url( 'assets/images/bg_image.jpg');
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;

  }
  
  .login-form {
        background-color: rgba(226, 24, 182, 0.8);
        padding: 20px;
        width: 50%;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        height: 43%;
    }
  
  .login-form p {
    text-align: top;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  .login-header{
    display: flex;
  }
  .login-header img {
    height: 60px;
    width: 60px;
    margin-top: 33px;

  }
  /*.form-container{}*/
  .section-login{
    background-color: aqua;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
 
  .section2-login{
    margin-top: 50px;
    background-color: rgb(52, 40, 94);
    width: 50%;
    display: flex;
  }