.bar {
  background-image: url(../../../assets/Images/Header\ 1.png);
  height: 20px;
  width: 100%;
}

.hero-section {
  background-image: url(../../../assets/Images/bg_image.jpg);
  background-position: center;
  height: 92vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(77, 13, 119, 0.8);
  overflow: hidden;
}

.container {
  width: 41%;
  height: 30px;
  margin-left: 40px;
}

.top-logo img {
  height: 67px;
  width: 126px;
  margin-left: 35px;
  background-color: #e9ecef;
  margin-left: 55px;
  margin-bottom: 20px;
  border-radius: 0px 0px 10px 10px;
  padding: 4px;
}

.login-form {
  background-color: rgba(77, 13, 119, 0.8);
  padding: 10px 15px;
  width: 50%;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  border: none;
  padding: 7px;
  margin: 13px 0px 0px 0px;
}

.input-box input::placeholder {
  color: black;
  font-size: small;
}

.login-header {
  display: block;
  align-items: center;
}

.login-header p {
  color: #fff;
  margin-bottom: 0px;
}

.login-header img {
  height: 60px;
  width: 180px;
  margin-left: 48px;
  margin-top: -14px;
}

.para-2 {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #fff;

}

.login-form p a {
  color: orange;
  /* Setting link color to orange */
  text-decoration: none;
}

/*.form-container{}*/
.section-login {
  background-color: #dee2e6a6;
  width: 50%;
  display: flex;
  gap: 50px;
  border-radius: 0px 0px 8px 8px;
  padding: 10px 15px 10px 15px;
}

.register-btn {
  font-size: x-small;
  font-weight: 400;
}

.open-btn {
  font-size: x-small;
  font-weight: 400;
}

.register-btn p {
  margin-bottom: 3px;
}

.open-btn p {
  margin-bottom: 3px;
}

.section2-login {
  margin-top: 15px;
  background-color: #dee2e6a6;
  width: 50%;
  border-radius: 8px;
  padding: 13px;
  display: flex;
  justify-content: space-between;
  height: 65px;
}

.register-paragraph {
  font-size: x-small;
}


/* Targeting the primary login button */
.btn.btn-primary {
  background-color: #f38f18;
  color: white;
  /* Adding white text color for better visibility */
  width: 100%;
  height: 100%;
  font-size: smaller;
  font-weight: 500;
  padding: 9px;
  margin-top: 13px;
  margin-bottom: 10px;
}

/* Targeting the register now button */
.btn.btn-primary1 {
  background-color: #f38f18;
  color: white;
  /* Adding white text color for better visibility */
  width: 80px;
  font-size: smaller;
  font-weight: 500;
  padding: 5px;
}

/* Targeting the open account button */
.btn.btn-primary2 {
  background-color: #f38f18;
  color: white;
  /* Adding white text color for better visibility */
  width: 80px;
  font-size: smaller;
  font-weight: 500;
  padding: 5px;
}

/* Targeting the apply bid bond button */
.btn.btn-primary3 {
  background-color: #f38f18;
  color: white;
  /* Adding white text color for better visibility */
  font-weight: 500;
  font-size: smaller;
  width: 85px;
  height: 40px;
  padding: 6px 19px;
}

.bottom footer {
  background-color: bisque;
  justify-content: space-between;
  display: flex;
  height: 20px;
  width: 100%;
}

.row p {
  font-size: x-small;

}

/* CSS for phones */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%; /* Adjust as needed */
    margin-left: 0; /* Reset margin */
  }
  
  .top-logo img {
    margin-left: 0; /* Reset margin */
  }
  
  .login-form {
    width: 80%; /* Adjust as needed */
  }
  
  .section-login,
  .section2-login {

      width: 81%;
      height: 103px;
  }
}    /* Adjust as needed */
  

/* CSS for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 70%; /* Adjust as needed */
  }
  
  .login-form {
    width: 60%; /* Adjust as needed */
  }
}

/* CSS for laptops and desktops */
@media only screen and (min-width: 1025px) {
  /* Your existing CSS for laptops and desktops */
}
