<div class="bar"></div>

<div class="hero-section">
    <div class="top-logo">
        <img src="../../../assets/Images/Vector.png" alt="">
    </div>
    <div class="container">
        <div class="login-form">
            <div class="login-header">
                <p>Welcome to</p> <br>
                <img src="../../../assets/Images/ebanking 1.png" alt="">
            </div>
        <div class="input">
            <form>
                <div class="input-box">
                <input type="username" placeholder="Username" required>
                </div>
                <div class="input-box">
                <input type="password" placeholder="Password" required>
                </div>
                <div>
                <button type="button" class="btn btn-primary" (click)="validateLoginForm()">LOGIN</button>
                </div>
                <div class="para-2">
                    <p>Security Tips </p>
                    <p>Forgot your <a href="#">Password?</a> </p>
                </div>
            </form>
        </div>
            
        </div>
        <div class="section-login">
            <div class="register-btn">
                <p>Not registered to <br> internet Banking?.</p>
                <button type="submit" class="btn btn-primary1">REGISTER NOW</button>
            </div>
            <div class="open-btn">
                <p>Not a member of Faulu <br> Microfinance Bank?</p>
                <button type="submit" class="btn btn-primary2">OPEN ACCOUNT</button>
            </div>
        </div>
        <div class="section2-login">
            <div class="register-paragraph">
                <p>We enable you to secure your Bid bond,<br> securely and conveniently in less than 5<br>minutes!</p>
                <div class="register-btn">
                    <button type="submit" class="btn btn-primary3">APPLY BID BOND</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification Popup -->
<div class="notification-popup" *ngIf="showNotification">
    <div class="notification-content">
        <p>Please fill in all the fields.</p>
        <button type="button" (click)="hideNotification()">Close</button>
    </div>
</div>
