<div class="nav_bar">
</div>
<div class="logos-container">
    <img src="../../../assets/Images/ebanking 1.png" alt="Left Logo" class="left-logo">
    <img src="../../../assets/Images/Vector.png" alt="Right Logo" class="right-logo">
</div>
<div class="headers">
    <h2><a href="#" class="orange-link">Great, Let's keep going |</a> Before we register you for online banking, we
        would like to verify your account.</h2>
</div>

<div class=" Main-container">
    <div class="left-box">
        <div class="pagination-box">
            01/03
        </div>

        <ul class="page">
            <li>01. SECURITY QUESTIONS</li>
            <li>02. SETUP PASSWORD</li>
            <li>03. BANKING VERIFICATION</li>
        </ul>
    </div>


    <div class="Security-Questions">
        <label for="accountNumber" class="form-label"></label>
        <input type="text" class="form-control" id="accountNumber" placeholder="Enter your Account Number">

        <label for="phoneNumber" class="form-label"></label>
        <input type="text" class="form-control" id="phoneNumber" placeholder="Enter your Phone Number">

        <div class="identification">


            <div class="identification1">
                <label for="selectIdentityType" class="form-label"></label>
                <select class="form-control" id="identificationNumberType" placeholder="Select Identity Type">
                    <i class="fa fa-caret-down"></i>

                    <option value="passport">Select Identity Type</option>
                    <option value="passport">Passport</option>
                    <option value="national-id">National ID</option>
                    <option value="driver-license">Driver's License</option>
                </select>
            </div>

            <div class="identification2">
                <label for="IDNumber" class="form-label"></label>
                <input type="number" class="form-control" id="IDNumber" placeholder="Identity Number">
            </div>

            <div class="button-container">
                <button class="btn btn-primary right-btn">CONTINUE</button>
            </div>
        </div>
    </div>

    <br>
    <div class="footer">
        <p>Copyright© Faulu Microfinance Bank Limited 2024</p>
        <p>Need help? Talk to us via info&#64;faulukenya.com | Call +254 711 07400 Twitter Facebook Instagram
            WhatsApp</p>
        <p><a href="#">Security | Privacy policy | Terms & Conditions</a>.</p>
    </div>
</div>

